/* Remove margin and padding from section to avoid extra spacing */
section {
  background-color: #f0f0f0;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ccc; /* Replace with your desired background */
  flex-direction: column;
  height: 100vh;
}

#project-section {
  padding: 20px;
  text-align: center;
}

.section-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 30px;
  padding-top: 24px;
}

.body-area {
  background-color: #f0f0f0;
}
