.class-projects-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;

}

.project {
  background-color:  rgb(255, 255, 255);
  align-items: center;
  border: 1px solid #cbcbcb;  
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.project:hover{
  background-color: #dfdfdf;
}


.tool-screenshot {
  width: 90%;
  object-fit: cover;
  max-height: 50%; 
  background-position: center; 
  background-size: contain; 
}

.tool-name{
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.05em;
  font-weight:600;
  text-decoration: underline;
}
.tool-info {
  flex: 1; /* Take up the remaining space in the .project container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.tool-discription{
  font-size: 0.8em;
  padding: 0 16px;
}
a{
  text-decoration: none;
  color: rgb(67, 66, 66);
}