.class-projects-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;

}

.project {
  background-color: #e1dede;
  align-items: center;
  border: 1px solid #333;  
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;

}

.tool-screenshot {
  width: 90%;
  object-fit: cover;
  max-height: 50%; 
  background-position: center; 
  background-size: contain; 
}

.tool-name{
  text-align: center;
}
.tool-info {
  flex: 1; /* Take up the remaining space in the .project container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}