.contact-links a {
    color: inherit; /* or specify the color you want */
    text-decoration: none; /* optional: remove underline */
    font-size: 2rem;
    color: #555;
    transition: all 0.3s ease-in-out;
  }
  .contact-links a:hover {
    color: rgb(17, 139, 200);
    cursor: pointer;
  }

i{
    font-size: 2rem;
}
h4{
  justify-content: center;
  display: flex;
  margin-bottom: 64px;
  font-weight: 240;
  font-size: larger;
  margin-top: 38px;
  margin-bottom: 72px;
 
}

.contact-message{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.contact-links{
 margin-top: -8px;
}
.links-container{
  margin-bottom: 32px;
  padding: 20px;
  text-align: center;
  width: 100%;

}